@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body{
  font-family: 'Rubik', sans-serif !important;
  font-size: 18px !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(95,135,242);
  background: radial-gradient(circle, rgba(95,135,242,1) 0%, rgba(69,64,156,1) 100%);
}
.formContainer {

  padding: 0.5rem;
  background-color: rgba(85,138,221,255);
  height: 300px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  height: 34vh;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.input-box {
  border-radius: 12px 0px 0px 12px;
  padding: 11.8px 16px 14px 16px;
  width: 60vh;
  border: none;
  position: relative;
  top: 2% !important;
  font-size: calc(12px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}
.submit-btn {
  position: relative;
  padding: 7.4px 16px 12px 16px;
  border: none;
  background-color: black;
  border-radius: 0px 12px 12px 0px;
  width: 8vh;
}
.submit-btn:hover {
  background-color: hsl(0, 0%, 17%);
}
.bar {
  border-left: 1px solid hsl(0, 0%, 79%);
  height: 10vh;
  margin: 0px 2vh;
}
.label {
  font-size: calc(8px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(0, 0%, 59%);
}
.heading {
  font-size: calc(20px + (32 - 28) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 500;
  position: relative;
  top: 1%;
}
.datatext {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 500;
}
.display-container {
  z-index: 2;
  background: white;
  top: 25vh;
  padding: 4vh;
  border-radius: 2vh;
  -webkit-box-shadow: 0 4px 4px -2px #0000002b;
   -moz-box-shadow: 0 4px 4px -2px #0000002b;
        box-shadow: 0 4px 4px -2px #0000002b;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  left: 15%;
}

.leaflet-container {
  z-index: 0;
  height: 66vh;
}

  

